.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}

.title {
  margin-right: 10px;
}

.saveButton{
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.saveButton:hover {
  background-color: #0056b3;
}

.editor{
  border: 2px solid #17c8ca;
  margin: 70px;
  background-color: #dae2ea;
  height: 430px;
}


/* span[data-offset-key="3gtuq-0-0"] {
 color: red;
}
span[style*="text-decoration: underline;"] {
  color: black;
  font-size: 20px;
} */

/* Style spans with both data-text="true" and containing a <br> element */
/* span[data-offset-key][data-text="true"] > br[data-text="true"] {
  color: black !important;
} */

/* Style spans with data-offset-key="3gtuq-0-0" */
/* span[data-offset-key="3gtuq-0-0"] {
  color: red;
} */
